.btno{
width: 58%;position: relative;margin: 8px -99px;top: 5%;left: 36%;
}
.rzn{
height: 66px;position: relative;margin: 4px -37px;width: 287px;top: ;left: 33%;
}
.sbt{
	height:20px; position:relative; margin: 16px -50px; width:100px; top:50%; left:50%;
}
.sbt1{
	padding:9px 25px;
}